*{
    margin: 0%;
    padding: 0%;
}
body{
    background-color: black;
}
form input, form textarea{
    width: 80%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 10px 0;
    margin-top: 25px;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
.form1{
    text-align: center;
}
.btn{
    width: 120px;
    height: 40px;
    margin-top: 15px;
    padding: 10px 10px;
    font-size: 15px;
    background-color: red;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}
.copyright{
    position:fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 25px 0;
    color: #fff;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}
footer p a{
    color: blueviolet;
    text-decoration: none;
}